@import '_variables';
@import '_mixins';

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
  width: 6rem;
  border: 1px solid $white;
  background: $dark;
  position: relative;
  padding: 0.5rem;
  @include for-tablet-portrait-up {
    height: 13rem;
    width: 8rem;
  }
  @include for-desktop-up {
    height: 15rem;
    width: 10rem;
  }
  &:after, &:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 1.5rem;
    background: $dark;
  }
  &:before {
    bottom: -2px;
  }
  &:after {
    top: -2px;
  }
  p {
    text-shadow: 0 0 8px $accent;
  }
  &-center, &-back p {
    text-align: center;
    font-size: 2.8rem;
    @include for-desktop-up {
      font-size: 4rem;
    }
  }
  &-bottom, &-top {
    font-size: 1rem;
    @include for-desktop-up {
      font-size: 1.3rem;
    }
  }
  &-bottom {
    text-align: right;
  }
  &-back {
    @include flex-center;
  }
}
