@import '_variables';
@import '_mixins';

section {
  position: relative;
  margin: 0 2rem;
  @include flex-center-column;
  p {
    margin-top: 1rem;
    display: inline-block;
    border: 1px solid $white;
    padding: 0.5rem 1.5rem;
    text-shadow: 0 0 8px $accent;
    position: relative;
    &:after, &:before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 1.5rem;
      background: $dark;
    }
    &:before {
      bottom: -2px;
    }
    &:after {
      top: -2px;
    }
  }
  fa-icon {
    position: absolute;
    top: -2rem;
    animation: pointer-animation 1s infinite;
  }
}
.player-cards {
  @include flex-center;
  app-card {
    margin: 0 0.25rem;
  }
}
.bust {
  pointer-events: none;
}
.result-opacity {
  opacity: 30%;
  pointer-events: none;
}

@keyframes pointer-animation {
  0% { transform: translateY(0) }
  50% { transform: translateY(0.5rem)}
  100%{ transform: translateY(0) }
}
