<main>

  <app-dealer [dealerHand]="dealerHand" [revealCard]="dealerTurn"></app-dealer>

  <div class="action-buttons">
    <app-action-button
      type="stand"
      (click)="stand()"
      [disabled]="dealerTurn">
    </app-action-button>
    <app-action-button
      type="split"
      [disabled]="!playerHands[currentHandIndex].isSplittable() || dealerTurn">
    </app-action-button>
    <app-action-button
      type="draw"
      (click)="draw()"
      [disabled]="dealerTurn">
    </app-action-button>
  </div>

  <app-player [playerHands]="playerHands"></app-player>

</main>
