<main>

  <app-dealer [dealerHand]="dealerHand" [revealCard]="dealerTurn"></app-dealer>

  <div class="action-buttons">
    <ng-container *ngIf="!roundOver; else newRoundOption">
      <app-action-button
        type="stand"
        (click)="stand()"
        [disabled]="dealerTurn">
      </app-action-button>
      <app-action-button
        type="split"
        (click)="split()"
        [disabled]="!playerHands[currentHandIndex].isSplittable() || dealerTurn || playerHands.length > 1">
      </app-action-button>
      <app-action-button
        type="hit"
        (click)="draw()"
        [disabled]="dealerTurn">
      </app-action-button>
    </ng-container>

    <ng-template #newRoundOption>
      <app-action-button
        type="newRound"
        (click)="initRound()">
      </app-action-button>
    </ng-template>
  </div>

  <app-player [playerHands]="playerHands" [currentHandIndex]="currentHandIndex"></app-player>

</main>
